{% extends 'student/base.html.twig' %}

{% block nav %}
    <ul class="nav nav-main">
        <li>
            <a href="{{ url('student') }}">
                <span>Dashboard</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-main">
        <li>
            <a href="{{ url('propose_referendum') }}">
                <span>Propose Referendum</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-main">
        <li class="nav-active">
            <a href="{{ url('view_all_proposals_student') }}">
                <span>All Proposed Referendums</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-main">
        <li>
            <a href="{{ url('view_all_upcoming_student') }}">
                <span>All Upcoming Referendums</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Dashboard</h2>
        </header>

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title">Student Proposed Referendums</h2>
                        <p class="panel-subtitle">This is a list of referendums proposed by students.</p>
                    </header>
                    <div class="panel-body">
                        {% set counter = 0 %}
                        {% for proposed_referendum in proposed_referendums %}
                            <h4>{{ proposed_referendum.publisher }}</h4>
                            <p>
                                {{ proposed_referendum.details }}
                            </p>
                            <p><strong>People in support of this: {{ proposed_referendum.support }}</strong></p>

                            {% if proposed_referendum.id in supported_referendums %}
                                <button style="background-color: #014C6C" class="mb-xs mt-xs mr-xs btn btn-primary">
                                    Revoke Support
                                </button>
                            {% else %}

                                <form method="post" action="{{ path('proposed_referendum_support', {'id': proposed_referendum.id}) }}" onsubmit="return confirm('Are you sure you want to support this referendum?');">
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="proposal_id" value="{{ proposed_referendum.id }}">
                                    <input type="hidden" name="url" value="{{ url }}">
                                    <button type="submit" value="{{ proposed_referendum.id }}" class="mb-xs mt-xs mr-xs btn btn-primary">
                                        Support this
                                    </button>
                                </form>

                            {% endif %}



                            {% if counter < array_length %}
                                <hr>
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
        <!-- end: page -->
    </section>
    </div>
    </section>
{% endblock %}