{% extends 'student/base.html.twig' %}

{% block nav %}
    <ul class="nav nav-main">
        <li>
            <a href="{{ url('student') }}">
                <span>Dashboard</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-main">
        <li>
            <a href="{{ url('propose_referendum') }}">
                <span>Propose Referendum</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-main">
        <li>
            <a href="{{ url('view_all_proposals_student') }}">
                <span>All Proposed Referendums</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-main">
        <li class="nav-active">
            <a href="{{ url('view_all_upcoming_student') }}">
                <span>All Upcoming Referendums</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Dashboard</h2>
        </header>

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title">Upcoming Referendums</h2>
                        <p class="panel-subtitle">This is a list of the upcoming referendums.</p>
                    </header>
                    <div class="panel-body">

                        {% set counter = 0 %}
                        {% for referendum in referendums %}

                            <h4>{{ referendum.title }}</h4>
                            <p>
                                {{ referendum.details }}
                            </p>
                            <p><strong>Date of referendum: {{ referendum.startDate }}</strong></p>

                            {% if counter < refArrayLength %}
                                <hr>
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}


                    </div>
                </section>
            </div>
        </div>
        <!-- end: page -->
    </section>
    </div>
    </section>
{% endblock %}