{% extends 'admin/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <hr class="separator" />
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="{{ url('admin') }}">
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('admin_upcoming') }}">
                                        <span>Upcoming</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('create_referendum') }}">
                                        <span>Create Referendum</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('past_referendums') }}">
                                        <span>Past Referendums</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('manage_admins') }}">
                                        <span>Administrators</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>Dashboard</h2>
                </header>

                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                </div>

                                <h2 class="panel-title">Referendums Today</h2>
                                <p class="panel-subtitle">This is a list of the referendums today.</p>
                            </header>
                            <div class="panel-body">
                                <h4>No Referendums Today</h4>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-6">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <button type="button" href="#" class="mb-xs mt-xs mr-xs btn btn-primary">View All</button>
                                </div>

                                <h2 class="panel-title">Student Proposed Referendums</h2>
                                <p class="panel-subtitle">This is a list of referendums proposed by students.</p>
                            </header>
                            <div class="panel-body">
                                {% set counter = 0 %}
                                {% for proposed_referendum in proposed_referendums %}
                                    <h4>{{ proposed_referendum.publisher }}</h4>
                                    <p>
                                        {{ proposed_referendum.details }}
                                    </p>
                                    <p><strong>People in support of this: {{ proposed_referendum.support }}</strong></p>
                                    <button type="button" href="{{ path('proposed_referendum_show', {'id': proposed_referendum.id}) }}" class="mb-xs mt-xs mr-xs btn btn-primary">Support this</button>

                                    {% if counter < 2 %}
                                        <hr>
                                    {% endif %}
                                    {% set counter = counter + 1 %}
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                            </div>
                        </section>
                    </div>



                    <div class="col-md-6">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <button type="button" href="#" class="mb-xs mt-xs mr-xs btn btn-primary">View All</button>
                                </div>

                                <h2 class="panel-title">Upcoming Referendums</h2>
                                <p class="panel-subtitle">This is a list of the upcoming referendums.</p>
                            </header>
                            <div class="panel-body">
                                <h4>Student Elections</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p><strong>Date of referendum: 04/04/2019</strong></p>
                                <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">Learn More</button>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- end: page -->
            </section>
        </div>
    </section>
{% endblock %}