{% extends 'admin/base.html.twig' %}

{% block body %}
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="../dashboard/images/logo.png" height="35" alt="JSOFT Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
                            <span class="name">B00096918</span>
                            <span class="role">administrator</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <hr class="separator" />
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('admin') }}">
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('admin_upcoming') }}">
                                        <span>Upcoming</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('create_referendum') }}">
                                        <span>Create Referendum</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('past_referendums') }}">
                                        <span>Past Referendums</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="{{ url('manage_admins') }}">
                                        <span>Administrators</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>Manage Administrators</h2>
                </header>

                <div class="row">

                </div>

                <!-- end: page -->
            </section>
        </div>
    </section>
{% endblock %}