{% extends 'admin/base.html.twig' %}

{% block title %}Admin | Manage Admins{% endblock %}

{% block body %}
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <hr class="separator" />
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('admin') }}">
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('admin_upcoming') }}">
                                        <span>Upcoming</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('create_referendum') }}">
                                        <span>Create Referendum</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li>
                                    <a href="{{ url('past_referendums') }}">
                                        <span>Past Referendums</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="{{ url('manage_admins') }}">
                                        <span>Administrators</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>Manage Administrators</h2>
                </header>

                <div class="row">

                </div>

                <!-- end: page -->
            </section>
        </div>
    </section>
{% endblock %}