{% extends 'base.html.twig' %}

{% block title %}Referendum{% endblock %}

{% block body %}
    <h1>Referendum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ referendum.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ referendum.title }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ referendum.details }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ referendum.startDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('referendum_index') }}">back to list</a>

    <a href="{{ path('referendum_edit', {'id': referendum.id}) }}">edit</a>

    {{ include('referendum/_delete_form.html.twig') }}
{% endblock %}
